@import "fonts.css";

.navbar {
  margin-bottom: 50px;
}

.login-background {
  padding: 10px;
  margin: auto;
  position: relative;
  max-width: 400px;
  min-height: 30vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(89, 197, 198, 0.1) inset;
}

.login-input {
  text-align: center;
  font-family: OpenSans;
}

.login-input > h2 {
  font-family: Gloria;
  font-size: 20px;
  color: #761520;
  text-align: center;
  margin-bottom: 15px;
}

.login-input > a,
 .forgot-password {
  color: #337ab7;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  cursor: pointer;

}

.login-input > a:hover,
 .forgot-password:hover{
  color: #286090;
}

input:not([type="submit"]) {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
  padding: 8px 5px 8px 15px;
  border: 1pt solid #666;
  border-radius: 5pt;
  box-sizing: border-box;
}

.btn-login {
  margin-top: 15px;
}
/* Increase the portion the login background
   uses when the screen gets smaller */
@media screen and (max-width: 940px) {
  .login-background {
    width: 40vw !important;
  }
}

@media screen and (max-width: 740px) {
  .login-background {
    width: 50vw !important;
  }
}

@media screen and (max-width: 600px) {
  .login-background {
    width: 60vw !important;
  }
}
